
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <title>BFC Examples</title>
    <style>
	   .item{width:300px;border:1px solid #b2d1a3;background-color:#e5ebe4;}
       .pic{width:80px;height:80px;margin:20px;font-family:”Segoe UI Light”;color:#fff;background-color:#acdae5;float:left;display:inline}
       .cont{margin:10px;color:#37a;overflow:hidden;min_height:0}
	</style>

</head>
<body>


<div class="item">
    <div class="pic">your photo here?</div>
    <p class="cont">
    爱饭否，爱豆瓣，也爱鸡脱壳。
    爱爬山，爱拍美景。
    爱腐败，更爱远征的自虐。
    爱下雪天，爱感动，爱平底鞋。
    我没有什么特别，我很特别。
    我和别人不一样，我和你一样。
    我是前端。
    </p>
</div>

</body>
</html>